<html>
    <div class="jumbotron">
        <h1>input Your Data</h1>
        <form class="form-signin">
        <label for="Food&Drinks" class="sr-only">Food&Drinks</label>
        <input type="Amount" name="Food&Drinks" id="Food&Drinks" class="form-control" placeholder="Amount" required autofocus>
        <label for="AlcoholicItems" class="sr-only">AlcoholicItems</label>
        <input type="Amount" name="AlcoholicItems" id="AlcoholicItems" class="form-control" placeholder="Amount" required autofocus>
        <label for="Cloothing&Footwear" class="sr-only">Cloothing&Footwear</label>
        <input type="Amount" name="Cloothing&Footwear" id="Cloothing&Footwear" class="form-control" placeholder="Amount" required autofocus>
        <label for="Fuel&Power" class="sr-only">Fuel&Power</label>
        <input type="Amount" name="Fuel&Power" id="Fuel&Power" class="form-control" placeholder="Amount" required autofocus>
        <label for="HouseholdGoods" class="sr-only">HouseholdGoods</label>
        <input type="Amount" name="HouseholdGoods" id="HouseholdGoods" class="form-control" placeholder="Amount" required autofocus>
        <label for="Health" class="sr-only">Health</label>
        <input type="Amount" name="Health" id="Health" class="form-control" placeholder="Amount" required autofocus>
        <label for="Transport" class="sr-only">Transport</label>
        <input type="Amount" name="Transport" id="Transport" class="form-control" placeholder="Amount" required autofocus>
        <label for="Communication" class="sr-only">Communication</label>
        <input type="Amount" name="Communication" id="Communication" class="form-control" placeholder="Amount" required autofocus>
        <label for="Recreation&Culture" class="sr-only">Recreation&Culture</label>
        <input type="Amount" name="Recreation&Culture" id="Recreation&Culture" class="form-control" placeholder="Amount" required autofocus>
        <label for="Education" class="sr-only">Education</label>
        <input type="Amount" name="Education" id="Education" class="form-control" placeholder="Amount" required autofocus>
        <label for="Restaurants&Hotels" class="sr-only">Restaurants&Hotels</label>
        <input type="Amount" name="Restaurants&Hotels" id="Restaurants&Hotels" class="form-control" placeholder="Amount" required autofocus>
        <label for="Goods&Services" class="sr-only">Goods&Services</label>
        <input type="Amount" name="Goods&Services" id="Goods&Services" class="form-control" placeholder="Amount" required autofocus>
        <label for="OtherExpenditure" class="sr-only">OtherExpenditure</label>
        <input type="Amount" name="OtherExpenditure" id="OtherExpenditure" class="form-control" placeholder="Amount" required autofocus>
        <label for="Income" class="sr-only">Income</label>
        <input type="Amount" name="Income" id="Income" class="form-control" placeholder="Amount" required autofocus>
        <button id="submit" class="btn btn-lg btn-primary btn-block" type="button">Submit</button>
      </form>
      </div>
</html>